<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935433869989-7fua14p2qml46hatkvp2idsun275jje6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935433869989-7fua14p2qml46hatkvp2idsun275jje6</string>
	<key>API_KEY</key>
	<string>AIzaSyAIh9kIjq81Ql1T5Y54r_W6uHaLQbR5Gio</string>
	<key>GCM_SENDER_ID</key>
	<string>935433869989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bright-Summit-Plc</string>
	<key>PROJECT_ID</key>
	<string>petd-3e5a1</string>
	<key>STORAGE_BUCKET</key>
	<string>petd-3e5a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935433869989:ios:da8765303d672ab0cfcb4c</string>
</dict>
</plist>